
#apiManager {

  .api-list {
    .md-list-wrapper {
      md-list {
        background-color: #fff;
        .api-list-api {
          div:last-of-type {
            padding-right: 8px;
          }
          h3.md-title {
            margin: 0;
          }
        }
      }
    }
  }

}
