<div class="app-dashboard-cards" layout="row" layout-xs="column">

  <div flex>

    <md-card flex>
      <md-card-content layout="row">
        <div flex="25" layout="column" layout-align="center center">
          <md-icon class="material-icons">
            people
          </md-icon>
          <span>
            8
          </span>
        </div>
        <div flex="25" layout="column" layout-align="center center">
          <md-icon class="material-icons">
            table
          </md-icon>
          <span>
            35
          </span>
        </div>
        <div flex="25" layout="column" layout-align="center center">
          <md-icon class="material-icons">
            person
          </md-icon>
          <span>
            8
          </span>
        </div>
        <div flex="25" layout="column" layout-align="center center">
          <md-icon class="material-icons">
            person
          </md-icon>
          <span>
            8
          </span>
        </div>
      </md-card-content>
    </md-card>

    <md-card flex>
      <md-card-content>
        <md-input-container>
          <label>App ID</label>
          <input type="text">
        </md-input-container>
        <md-input-container>
          <label>Api Url</label>
          <input type="text">
        </md-input-container>
      </md-card-content>
    </md-card>

    <md-card flex>
      <md-card-content>
        <md-input-container>
          <label>App ID</label>
          <input type="text">
        </md-input-container>
        <md-input-container>
          <label>Api Url</label>
          <input type="text">
        </md-input-container>
      </md-card-content>
    </md-card>

  </div>

  <div class="dashboard-side" flex-gt-xs="30">
    <md-list>
      <md-subheader>App actions</md-subheader>
      <md-list-item ng-click="addSchemaDialog($event)">
        <md-icon class="material-icons">add</md-icon>
        <p>Create new Schema</p>
      </md-list-item>
      <md-list-item ng-click="addApiDialog($event)">
        <md-icon class="material-icons">add</md-icon>
        <p>Create new API</p>
      </md-list-item>
      <md-list-item ng-click="addClientDialog($event)">
        <md-icon class="material-icons">add</md-icon>
        <p>Create new Client</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="null">
        <md-icon class="material-icons">file_download</md-icon>
        <p>Download Project</p>
      </md-list-item>
    </md-list>
  </div>

</div>
