<div class="app-records"
  layout="row"
  layout-xs="column">

  <div flex>

    <md-card flex>
      <md-card-content>
        <md-select ng-model="$appRecords.userState">
          <md-option><em>None</em></md-option>
          <md-option ng-repeat="recordType in $appRecords.recordTypes" ng-value="recordType" ng-disabled="$index === 1">
            {{recordType.Label}}
          </md-option>
        </md-select>
      </md-card-content>
    </md-card>

  </div>

  <div class="schema-side" flex="30">
    <md-list>
      <md-subheader>App Environments</md-subheader>
      <md-list-item ng-repeat="env in $appEnvs.envs" ui-sref="app.user.app.env({ appId: model.Id, envId: env.Id})">
        <md-icon class="material-icons">chevron_right</md-icon>
        <p>{{ env.Name }}</p>
      </md-list-item>
      <md-list-item ng-click="$appEnvs.createEnv($event)">
        <md-icon class="material-icons">add</md-icon>
        <p>Create new Env</p>
      </md-list-item>
    </md-list>
  </div>

</div>
