<div class="app-environments"
  layout="row"
  layout-xs="column">

  <div flex>

    <!-- <md-card flex>
      <md-card-content>
        <md-select ng-model="$appRecords.userState">
          <md-option><em>None</em></md-option>
          <md-option ng-repeat="env in $appEnvs.envs" ng-value="recordType">
            {{ env.Name }}
          </md-option>
        </md-select>
      </md-card-content>
    </md-card> -->


    <md-card flex>
      <md-card-header>
        <md-card-header-text class="md-title">
          {{ $appEnvs.current.Name }} Environment
        </md-card-header-text>
      </md-card-header>
      <md-divider></md-divider>
      <md-card-content>
        <div layout="row"
          layout-align="center center"
          layout-wrap>
          <span flex-gt-md="25">App</span>
          <span flex></span>
          <div>
            <pre>{{ model.Name }}</pre>
          </div>
        </div>
        <div layout="row"
          layout-align="center center"
          layout-wrap>
          <span flex-gt-md="25">App Id</span>
          <span flex></span>
          <div>
            <pre>{{ model.Id }}</pre>
          </div>
        </div>
        <div layout="row"
          layout-align="center center"
          layout-wrap>
          <span flex-gt-md="25">Api Host</span>
          <span flex></span>
          <div>
            <pre>api.datastudio.eviratec.software</pre>
          </div>
        </div>
      </md-card-content>
    </md-card>

    <md-card flex>
      <md-card-header>
        <md-card-header-text class="md-title">
          IDs &amp; Keys
        </md-card-header-text>
      </md-card-header>
      <md-divider></md-divider>
      <md-card-content>
        <div layout="row"
          layout-align="center center"
          layout-wrap>
          <span flex-gt-md="25">Env Id</span>
          <span flex></span>
          <div>
            <pre>{{ $appEnvs.current.Id }}</pre>
          </div>
        </div>
        <div layout="row"
          layout-align="center center"
          layout-wrap>
          <span flex-gt-md="25">Public Key</span>
          <span flex></span>
          <div>
            <pre>gufhigfd7s8g97fdg7f8ds9-g8f9ds7g9</pre>
          </div>
        </div>
        <div layout="row"
          layout-align="center center"
          layout-wrap>
          <span flex-gt-md="25">Private Key</span>
          <span flex></span>
          <div>
            <pre>**************************</pre>
          </div>
        </div>
      </md-card-content>
    </md-card>

    <md-card flex>
      <md-card-header>
        <md-card-header-text class="md-title">
          Auth Providers
        </md-card-header-text>
      </md-card-header>
      <md-card-content>

      </md-card-content>
    </md-card>


  </div>

  <div class="schema-side" flex="30">
    <md-list>
      <md-subheader>App Environments</md-subheader>
      <!-- <md-list-item ng-repeat="env in $appEnvs.envs" ui-sref="app.user.app.env({ appId: model.Id, envId: env.Id})"> -->
      <md-list-item ng-repeat="env in $appEnvs.envs"
        ng-click="$appEnvs.setCurrentEnv($event, env)">
        <md-icon class="material-icons">chevron_right</md-icon>
        <p>{{ env.Name }}</p>
      </md-list-item>
      <md-list-item ng-click="$appEnvs.createEnv($event)">
        <md-icon class="material-icons">add</md-icon>
        <p>Create new Env</p>
      </md-list-item>
    </md-list>
  </div>

</div>
